@model Gysto.Models.paciente
@{
    ViewBag.Title = "paciente";
}

<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>
               ¿ Desea crear un nuevo paciente? 
            </h1>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-6">
        <div class="form-group text-right">
            <div class="col-sm-12">
                <button class="btn btn-primary" type="submit">
                    Si 
                </button>
            </div>


        </div>
    </div>
    </div>
}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

