@model IEnumerable<Gysto.ViewModels.listadoInternaciones>
@{
    ViewBag.Title = "Listado";
}

<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>
                Todas las internaciones cargadas
            </h1>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Nombre del paciente
                    </th>
                    <th class="text-center">
                        Fecha de ingreso
                    </th>
                    <th class="text-center">
                        Motivo
                    </th>
                    <th class="text-center">
                        botones
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var i in Model)
                {

                    <tr class="text-center">
                        <td>
                            @i.nombrecto

                        </td>
                        <td>
                            @i.fecha

                        </td>
                        <td>
                            @i.motivo
                        </td>
                        <td>
                            | <a href="@Url.Action("editarInternacion", "Transacciones", new { idInternacion = i.id })">  Seleccionar  </a>|



                        </td>
                    </tr>
                }



            </tbody>
        </table>


    </div>
</div>
