@{

    var l = ViewBag.lista;





}


<div class="contenedor">
    @using (Html.BeginForm("CantidadConsultasxaño", "Reporte", FormMethod.Post))
    {
        <select name="combo">
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>
        <button type="submit" class="btn-danger"> Buscar</button>
    }


</div>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.arrayToDataTable(@Html.Raw(ViewBag.lista));

            var options = {
                width: 800,
                legend: { position: 'none' },
                chart: {
                    title: 'Cantidad de consultas por año',
                    subtitle: 'Segun su especialidad'
                },
                axes: {
                    x: {
                        0: { side: 'top', label: 'Especialidades' } // Top x-axis.
                    }
                },
                bar: { groupWidth: "90%" }
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            // Convert the Classic options to Material options.
            chart.draw(data, google.charts.Bar.convertOptions(options));
        };
    </script>
</head>
<body>
    <div class="contenedor">
        <div id="top_x_div" style="width: 400px; height: 300px;"></div>
    </div>
</body>
</html>



