@{
    ViewBag.Title = "Contact";
    
   
}

    <div class="contenedor">
        <h2>Contactanos </h2>

        <address>
            Vicente Aguero, 560<br />
            Jesus Maria, Cordoba<br />
            <abbr title="Phone">P:</abbr>
            4255643
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3420.7490386834997!2d-64.09171978531117!3d-30.97748488225766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432639abe9917c3%3A0x265f8ac47ab479c1!2sHospital%20Vicente%20Ag%C3%BCero!5e0!3m2!1ses!2sar!4v1628859370511!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <address>
            <strong>Administracion:</strong>   <a href="mailto:Support@example.com">Administracion@example.com</a><br />
            <strong>Ventas:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
