@{
    ViewBag.Title = "Home Page";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
@if (User.Identity.IsAuthenticated)
{
    if (Session["user"] != null)
    {
        string o = Session["Rol"].ToString();
        switch (o)
        {
            case "1":
                <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
                <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
                <div class="contenedor">
                    <br />

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col-sm-6">
                            <div class="card">
                                <img src="https://cdn-icons-png.flaticon.com/512/3891/3891397.png" class="card-img" width="250" height="350" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">CONSULTAS PENDIENTES</h5>
                                    <p class="card-text"> Se veran listadas todas las consultas sin su diagnistico final</p>
                                    <a class="btn btn-primary" href=@Url.Action("ListadoConsultasxMedico", "Transacciones", new { User.Identity.Name })> Ver &raquo;</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <img src="https://cdn-icons-png.flaticon.com/512/3076/3076404.png" class="card-img"  width="250" height="350"alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ACTUALIZAR DATOS</h5>
                                    <p class="card-text"> Actualizar datos personales y profesionales</p>
                                    <a class="btn btn-primary" href=@Url.Action("PerfilUsuarioMedico", "Roles", new { User.Identity.Name })> Ver &raquo;</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                </div>
                    
                   
                




                break;
            case "2":
<div class="contenedor">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/1589/1589598.png" class="card-img" width="250" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">REPORTES</h5>
                    <p>Se podra visualizar las enfermedades mas usuales de la zona</p>
                    <a class="btn btn-primary" href=@Url.Action("Enfermedadxcantidad", "Reporte")> Ver &raquo;</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="https://cdn-icons.flaticon.com/png/512/3609/premium/3609754.png?token=exp=1639454709~hmac=30283fb5f507b5d02412d0b80246f867" class="card-img" width="250" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">REPORTES</h5>
                    <p>Se podra visualizar las cantidades de consultas que se realizaron por año</p>
                    <a class="btn btn-primary" href=@Url.Action("CantidadConsultasxaño", "Reporte")> Ver &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/4193/4193449.png" class="card-img"width="250" height="300"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">HISTORIA CLINICA</h5>
                    <p>Podra acceder a la historia clinica de todos los pacientes</p>
                    <a class="btn btn-primary" href=@Url.Action("ListadoHC", "Transacciones")> Ver &raquo;</a>
                </div>
            </div>
        </div>
        <br />
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/3076/3076404.png" class="card-img" width="220" height="300"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATOS PERSONALES</h5>
                    <p>Podra modificar sus datos</p>
                    <a class="btn btn-primary" href=@Url.Action("PerfilUsuarioDirector", "Roles", new { User.Identity.Name })> Ver &raquo;</a>
                </div>
            </div>

        </div>
        <br />
    </div>
    <br />
</div>

                break;
            case "3":
<div class="contenedor">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons.flaticon.com/png/512/3475/premium/3475218.png?token=exp=1639523830~hmac=4b66794fdde3c6e306963a10d8ba0d78" class="card-img" width="220" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TURNOS</h5>

                    <a class="btn btn-primary" href=@Url.Action("ListadoTurno", "Transacciones")> Ver &raquo;</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/4193/4193449.png" class="card-img" width="220" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HISTORIA CLINICA</h5>

                    <a class="btn btn-primary" href=@Url.Action("ListadoHC", "Transacciones")> Ver &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/3567/3567392.png" class="card-img" width="220" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CONSULTAS</h5>

                    <a class="btn btn-primary" href=@Url.Action("ListadoConsulta", "Transacciones")> Ver &raquo;</a>
                </div>
            </div>
        </div>
        <br />
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/3076/3076404.png" class="card-img" width="220" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATOS PERSONALES</h5>

                    <a class="btn btn-primary" href=@Url.Action("PerfilUsuarioAdministrativo", "Roles", new { User.Identity.Name })> Ver &raquo;</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/3034/3034851.png" class="card-img" width="220" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CARGAR PACIENTES NUEVOS</h5>

                    <a class="btn btn-primary" href=@Url.Action("UsuarioxAdmin", "Usuario")> Ver &raquo;</a>
                </div>
            </div>

        </div>
        <br />
    </div>
    <br />
    </div>
                break;
            case "4":

                <div class="contenedor">
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <h2>ESPECIALIDADES</h2>
                            <p>
                                Administracion de especialidad
                            </p>
                            <p><a class="btn btn-primary" href=@Url.Action("ListadoEspecialidad", "Auxiliares")> Ver &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>TRATAMIENTOS</h2>
                            <p>
                                Administracion de tratamientos
                            </p>
                            <p><a class="btn btn-primary" href=@Url.Action("ListadoTratamientos", "Auxiliares")> Ver &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>ENFERMEDADES</h2>
                            <p>
                                Administracion de enfermedad
                            </p>
                            <p><a class="btn btn-primary" href=@Url.Action("listadoEnfermedad", "Auxiliares", new { User.Identity.Name })> Ver &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>USUARIOS</h2>
                            <p>
                                Administracion de usuarios
                            </p>
                            <p><a class="btn btn-primary" href=@Url.Action("ListadoUsuario", "Usuario")> Ver &raquo;</a></p>
                        </div>
                    </div>
                </div>
                break;
            case "5":
<div class="contenedor">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/4193/4193449.png" class="card-img" width="250" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">INTERNACION</h5>
                    <p>Podra acceder a todas las internaciones cargadas</p>
                    <a class="btn btn-primary" href=@Url.Action("ListadoInternacion", "Transacciones")> Ver &raquo;</a>
                </div>
            </div>
        </div>
        <br />
        <div class="col">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/3076/3076404.png" class="card-img" width="250" height="300" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATOS PERSONALES</h5>
                    <p>Podra modificar sus datos</p>
                    <a class="btn btn-primary" href=@Url.Action("PerfiUsuarioEnfermero", "Roles", new { User.Identity.Name })> Ver &raquo;</a>
                </div>
            </div>

        </div>
        <br />
    </div>
    <br />
</div>
                break;
        }
    }
}




