@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: lightskyblue">
    <h1>Hospital Regional Vicente Aguero</h1>
    <p class="lead">Ya se vera </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conoce todos nuestros servicios</h2>
        <p>
            Contamos con mas de 10 especializaciones con los mejores profesionales del norte cordobes, para asegurar una atencion medica de calidad 
        </p>
        <p><a class="btn btn-primary" href="">Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Turnos online</h2>
        <p>Podes visualizar todos nuestros turnos y registrarte a uno si sos paciente registrado en el hospital</p>
        <p><a class="btn btn-primary" href="">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>